@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome <i>Siddharth Kataria</i><br>&<br /><b><i>Saanvi Kataria</i></b></h1>
        <img src="~/images/IMG_1353.JPG" height="500" width="800"/>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
